mat-button-toggle-group {
  margin-left: 40%;
  margin-top: 20px;
  background-color: #0070e0;
}

mat-button-toggle {
  background-color: #343638;
  color: #f9faf7;
}
.contenedor {
  background-color: #0070e0;
  height: auto;
  width: 95%;
  margin-left: 2%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.forma {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 500px;
  border-style: solid;
  width: 80%;
  margin-left: 10%;
  color: #222f38;
  font-family: 'Courier New', 'Lucida Console', monospace;
  font-size: 20px;
  resize: none;
  white-space: nowrap;
}
.consola {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 250px;
  border-style: solid;
  width: 80%;
  margin-left: 10%;
  background-color: #222f38;
  color: #f9faf7;
  font-family: 'Courier New', 'Lucida Console', monospace;
  font-size: 20px;
  resize: none;
  white-space: nowrap;
}
.consolaContainer {
  display: flex;
  flex-direction: column;
}
label {
  margin-left: 10%;
  font-size: 30px;
}
